body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background-color: yellowgreen;
}

.header{
  background-color: blueviolet;
}

.order{
  background-color: yellow;
}

.inventory{
  background-color: cyan;
}

.adminPanel{
  background-color: burlywood;
  padding: 30px
}